<div class='container_menu-title'>
  <hr>
  <h1>News Gaspar Moreira</h1>
  <div class="container_menu-bar">
    <ul>
      <li><a href="https://www.linkedin.com/in/gaspar-moreira/" target="_blank">LinkedIn</a></li>
      <li><span>·</span></li>
      <li><a href="https://github.com/Kespersantos" target="_blank">GitHub</a></li>
      <li><span>·</span></li>
      <li><a href="https://www.instagram.com/gasparmsantos/" target="_blank">Instagram</a></li>
      <li><span>·</span></li>
      <li><a href="https://kespersantos.github.io/Minha-pagina-online/" target="_blank">Site</a></li>
    </ul>
  </div>
  <hr>
</div>
