<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class ="articles_main">
    <app-big-card
    photoCover="https://hermes.dio.me/files/assets/5e89f8e5-1b90-4f8c-9a69-dc1758b28103.png"
    cardTitle="TITULO A INCLUIR"
    cardDescription="TEXTO A INCLUIR"
    ></app-big-card>
  </div>
  <div class="articles_others">
        <app-small-card
          photoCover="https://hermes.dio.me/files/assets/5e89f8e5-1b90-4f8c-9a69-dc1758b28103.png"
          cardTitle="Texto a incluir"
          >
        </app-small-card>

        <app-small-card
          photoCover="https://hermes.dio.me/files/assets/5e89f8e5-1b90-4f8c-9a69-dc1758b28103.png"
          cardTitle="Texto a incluir"
          >
        </app-small-card>

        <app-small-card
          photoCover="https://hermes.dio.me/files/assets/5e89f8e5-1b90-4f8c-9a69-dc1758b28103.png"
          cardTitle="Texto a incluir"
          >
        </app-small-card>


  </div>
</div>
